#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 470px;
  margin-top: 90px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #205c3baa); /* ירוק כהה */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #205c3baa); /* ירוק כהה */
}

@keyframes logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  background-color: black;
  padding: 20px 60px;
  display: flex;
   justify-content: flex-start;
  gap: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Rod', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  border-bottom: 1px solid black; /* קו תחתון שחור כברירת מחדל */
}

nav a {
  text-decoration: none;
  color: #205c3b;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding: 8px 0; /* הסרת ריווח אופקי כדי שהקו יהיה מתחת לטקסט */
  margin: 0 15px;
  border-bottom: 2px solid transparent; /* קו תחתון שקוף כברירת מחדל */
}

nav a:hover {
  color: white;
  border-bottom: 2px solid #205c3b; /* ירוק כהה בהובר */
}

nav a.active {
  font-weight: bold;
  color: white;
  border-bottom: 2px solid #205c3b; /* ירוק כהה לקישור פעיל */
}